<!DOCTYPE html>
<html>
<head>
    <title>SGNett 2.0 : Vaktsys</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/less" href="style/global.less">
    <link rel="stylesheet" type="text/less" href="style/subpages/vaktsys/vaktsys.less">
</head>
<body ng-app="vaktsys">

    <!-- Libs -->
    <script type="text/javascript" src="libs/angular/angular.min.js"></script>
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/moment/moment.min.js"></script>
    <script type="text/javascript" src="libs/less/dist/less.min.js"></script>

    <header ng-include="'includes/header.html'"></header>

    <main>
        <div ng-controller="shift-admin" class="wrapper" id="shift-admin">
            <h2>Administrator</h2>
            <div class="container">
                <div id="add-shifts"><span>+</span> Legg til vakter</div>
                <div id="remove-shifts"><span>-</span> Fjern vakter</div>
                <div id="add-container">
                    <form action="/vaktsys/" method="POST">
                        <div id="add-names">
                            <div id="add-names-top">
                                <input id="add-name" type="text" placeholder="Legg til">
                                <input type="button" type="button" id="btn-add" value="+">
                            </div>
                            <div id="add-names-bottom">
                                <ul>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="remove-container">
                    
                </div>
            </div>
        </div>

        <div ng-controller="shift-display" class="wrapper" id="shift-display">
            <section id="left">
                <ul>
                    <li ng-repeat="bar in bars.names" class="{{ bar.class }}" ng-click="bars.curBar=bar.name;">
                        {{ bar.name }}
                    </li>
                </ul>
            </section>
            <section id="right">
                <div id="date-slider" ng-include="'includes/vaktsys/dateslider.html'"></div>

                <ul>
                    <li ng-repeat="shift in shifts[bars.curBar]">
                        {{ shift.name }}
                    </li>
                </ul>
            </section>
        </div>
    </main>

    <!-- Globals -->
    <script type="text/javascript" src="/js/global.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>

    <!-- Page-specific -->
    <script type="text/javascript" src="/js/subpages/vaktsys.js"></script>
</body>
</html>