<div id="shift-list">
    <div class="loading" ng-show="loadingShifts">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>

    <ul class="shift-list" ng-show="!loadingShifts">

        <li class="shift" ng-repeat="shift in shifts[bars.curBar]">
            <h3 ng-if="shift.shift != ''" ng-bind="shift.shift"></h3>

            <ul class="person-list">

                <li class="person" ng-repeat="person in shift.people">
                    <table>
                        <tr>
                            <td class="user-image" rowspan="4">
                                <div style="background-image: url('{{ person.image ? person.image : '' }}');"></div>
                            </td>
                            <td class="user-info name-role">
                                <span class="name" ng-bind="person.name"></span>
                                <span class="role" ng-bind="person.role"></span>
                            </td>
                            <td class="manage edit"  rowspan="2" ng-if="hasManagingRights()">
                                <i class="fa fa-edit"></i>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-info time">
                                <span class="bold">Starter: </span><span ng-bind="person.start | date:'HH:mm'"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-info time">
                                <span class="bold">Slutter: </span><span ng-bind="person.finish | date:'HH:mm'"></span>
                            </td>
                            <td class="manage remove" rowspan="2" ng-if="hasManagingRights()">
                                <i class="fa fa-remove"></i>
                            </td>
                        </tr>
                        <tr>
                            <td class="user-info">&nbsp;</td>
                        </tr>
                    </table>
                </li>
                <li class="person add-person" ng-if="hasManagingRights()">
                    <h3>Legg til person</h3>
                </li>

            </ul>
        </li>

        <li class="no-shifts" ng-show="!shifts[bars.curBar].length"
            ng-bind="'Ingen vakter i ' + bars.curBar + ' denne dagen!'">
        </li>

    </ul>
</div>