<div id="shift-list">
    <div class="loading" ng-show="loadingShifts">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>

    <ul class="shift-list" ng-show="!loadingShifts">

        <li class="shift {{ shifts[bars.curBar].length === 1 ? 'wide' : '' }}" ng-repeat="shift in shifts[bars.curBar]">
            <h3 class="shift-description" ng-if="shift.shift != ''" ng-bind="shift.shift"></h3>

            <ul class="person-list">
                <li class="person" ng-repeat="person in shift.people">
                    <personcard></personcard>
                </li>
                <li class="person add-person" ng-if="hasManagingRights()">
                    <h3>Legg til person</h3>
                </li>

            </ul>
        </li>

        <li class="no-shifts" ng-show="!shifts[bars.curBar].length"
            ng-bind="'Ingen vakter i ' + bars.curBar + ' denne dagen!'">
        </li>

    </ul>
</div>