<div id="view-vaktsys">
    <div class="wrapper" id="shift-display">
        <section id="left">
            <ul>
                <li class="blank"></li>
                <li ng-repeat="bar in bars.names"
                    class="{{ bar.active ? 'active' : '' }}"
                    ng-click="bars.curBar=bar.name">
                    <span ng-bind="bar.name" class="{{ bar.open ? 'open' : '' }}"></span>
                </li>
            </ul>
        </section>

        <section id="right">
            <dateslider></dateslider>
            <shiftlist></shiftlist>
        </section>
    </div>
</div>