<div id="view-vaktsys">
    <div class="wrapper" id="shift-display"
         ng-init="retrieveBars(); retrieveShifts();">
        <section id="left">
            <ul>
                <li ng-repeat="bar in bars.names"
                    class="{{ bar.selected ? 'selected' : '' }} {{ bar.open ? 'open' : '' }}"
                    ng-click="bars.curBar=bar.name"
                    ng-bind="bar.name">
                </li>
            </ul>
        </section>

        <section id="right">
            <dateslider></dateslider>
            <shiftlist></shiftlist>
        </section>
    </div>
</div>