@import '../../variables.less';

div#view-vaktsys {
    width: 100%;

    div#shift-display {
        width: 100%;

        section#left {
            float: left;
            width: 25%;
            background-color: @lightpurple;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                
                li {
                    .noselect;
                    box-sizing: border-box;
                    height: 4.5em;
                    line-height: 4.5em;
                    padding: 0 24px 0 0;
                    text-align: right;
                    cursor: pointer;
                    border-bottom: 1px solid white;
                    
                    span {
                        display: inline-block;
                        height: 100%;
                        font-family: "Montserrat Light";
                        font-size: 1.4em;
                        color: @darkpurple;
                    }
                    span:not(.open):before {
                        content: "[Ingen vakter]\A";
                        font-size: 0.5em;
                        margin-right: 0.6em;
                        color: lightcoral;
                    }
                }
                li:last-child {
                    border-bottom: none;
                }
                li:hover:not(.blank):not(.active) {
                    background-color: thistle;
                }
                li.active {
                    background-color: @lightestpurple;
                    cursor: default;
                }
                li.blank {
                    cursor: auto;
                }
            }
        }
        section#right {
            float: left;
            width: 75%;

            div#date-slider {
                box-sizing: border-box;
                width: 100%;
                height: 4.5em;
                padding: 0 12px;
                text-align: center;
                background-color: @lightpurple;
                border-bottom: 1px solid white;

                h2 {
                    margin: 0;
                    height: 2em;
                    line-height: 2.2em;
                    font-size: 1em;
                    color: @darkpurple;
                }
                input[type=range]{
                    width: 100%;
                    -webkit-appearance: none;
                    outline: none;
                }
                input[type=range]::-webkit-slider-runnable-track {
                    height: 1.5em;
                    background-color: @lightestpurple;
                    border: none;
                    padding: 0 0.2em;
                }
                input[type=range]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    border: none;
                    height: 1.1em;
                    width: 12px;
                    margin-top: 0.2em;
                    background-color: @darkpurple;
                    cursor: pointer;
                }
            }

            div#shift-list {
                width: 100%;

                div.loading {
                    width: 100%;
                    height: 18em;
                    line-height: 18em;
                    text-align: center;

                    i {
                        font-size: 4em;
                        color: @darkpurple;
                    }
                }

                ul.shift-list {
                    box-sizing: border-box;
                    width: 100%;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    li.shift {
                        width: 50%;
                        float: left;

                        h3.shift-description {
                            box-sizing: border-box;
                            width: 100%;
                            height: 3em;
                            line-height: 3em;
                            margin: 0;
                            text-align: center;
                            background-color: @lightestpurple;
                            border: 1px solid white;
                            border-width: 0 0 1px 1px;
                        }
                        ul.person-list {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;

                            li.person {
                                height: 6em;
                                background-color: @lightestpurple;
                                border: 1px solid white;
                                border-width: 0 0 1px 1px;
                                overflow: hidden;

                                div.person-card {
                                    width: 100%;
                                    overflow: hidden;

                                    div.top {
                                        width: 100%;
                                        height: 6em;

                                        div.image {
                                            float: left;
                                            width: 6em;
                                            height: 100%;

                                            div {
                                                box-sizing: border-box;
                                                width: 80%;
                                                height: 80%;
                                                margin: 10%;
                                                background-size: cover;
                                                border-radius: 2px;
                                                -webkit-box-shadow: 0px 0px 6px 0px rgba(69,61,69,1);
                                                -moz-box-shadow: 0px 0px 6px 0px rgba(69,61,69,1);
                                                box-shadow: 0px 0px 6px 0px rgba(69,61,69,1);
                                            }
                                        }
                                        div.info {
                                            box-sizing: border-box;
                                            float: left;
                                            height: 100%;
                                            padding-left: 0.3em;

                                            div.name-role {
                                                box-sizing: border-box;
                                                clear: both;
                                                padding: 0.6em 0 1.6em;

                                                div.name {
                                                    float: left;
                                                    span {
                                                        font-weight: bold;
                                                    }
                                                    input {
                                                        box-sizing: border-box;
                                                        padding: 0 2px;
                                                        outline: none;
                                                        width: 10em;
                                                        height: 1.5em;
                                                        border: 1px solid @mediumpurple;
                                                        font-family: "Montserrat Light";
                                                        border-radius: 2px;
                                                    }
                                                }
                                                div.role {
                                                    float: left;

                                                    span {
                                                        margin-left: 0.4em;
                                                        color: @mediumpurple;
                                                    }
                                                    select {
                                                        margin-left: 0.4em;
                                                        border: 1px solid @mediumpurple;
                                                        font-family: "Montserrat Light";
                                                        background-color: white;
                                                        border-radius: 2px;
                                                    }
                                                }
                                            }
                                            div.time {
                                                font-size: 0.8em;

                                                span.bold {
                                                    font-weight: bold;
                                                }
                                                input {
                                                    box-sizing: border-box;
                                                    padding: 0 2px;
                                                    outline: none;
                                                    width: 6em;
                                                    height: 1.2em;
                                                    border: 1px solid @mediumpurple;
                                                    font-family: "Montserrat Light";
                                                }
                                            }
                                            div.time.start {
                                                input {
                                                    border-width: 1px 1px 0 1px;
                                                    border-radius: 2px 2px 0 0;
                                                }
                                            }
                                            div.time.end {
                                                input {
                                                    border-width: 1px 1px 1px 1px;
                                                    border-radius: 0 0 2px 2px;
                                                    border-top-color: @lightpurple;
                                                }
                                            }
                                        }
                                        div.manage {
                                            float: right;
                                            width: 3em;
                                            height: 100%;

                                            i {
                                                cursor: pointer;
                                                font-size: 1.5em;
                                                line-height: 2.25em;
                                                margin-left: 0.5em;
                                                color: #333;
                                            }
                                            div.edit {
                                                width: 100%;
                                                height: 50%;

                                                i:hover {
                                                    color: green;
                                                }
                                            }
                                            div.remove {
                                                width: 100%;
                                                height: 50%;  

                                                i:hover {
                                                    color: red;
                                                }
                                            }
                                        }
                                    }
                                    div.bottom {
                                        width: 100%;
                                        height: 2em;
                                        font-size: 0.8em;
                                        text-transform: uppercase;
                                        color: @darkpurple;
                                        border-top: 1px solid white;
                                        line-height: 1.8em;

                                        div {
                                            box-sizing: border-box;
                                            width: 50%;
                                            height: 100%;
                                            cursor: pointer;
                                            text-align: center;
                                        }
                                        div.cancel {
                                            float: left;
                                            border-right: 1px solid white;
                                        }
                                        div.confirm {
                                            float: right;
                                        }
                                        div:hover {
                                            background-color: @lightpurple;
                                        }
                                    }
                                }
                            }
                            li.person.add-person {
                                height: 3em;
                                cursor: pointer;

                                h3 {
                                    width: 100%;
                                    line-height: 2.5em;
                                    margin: 0;
                                    padding: 0;
                                    text-align: center;
                                    color: @darkpurple;
                                }
                            }
                            li.person.add-person:hover {
                                background-color: @lightpurple;
                            }
                        }
                    }
                    li.shift.wide {
                        width: 100%;
                    }
                    li.no-shifts {
                        width: 100%;
                        height: 6em;
                        line-height: 5em;
                        font-size: 1.2em;
                        text-align: center;
                    }
                }
            }
        }
    }
}
